@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');

/* header, nav, div, ul, li, h1, h2, span {
  border: 1px solid blue;
} */


/* Header */

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Roboto Mono";
}

#logo {
  max-height: 3.5rem;
}

/* Banner 1 */

#banner-1 {
    background-image: url("../assets/manufacture.jpg");
    /* background-image: url("../assets/manufacture.jpg"); */
    height: 90vh;
    max-height: 750px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: crisp-edges;
}


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
