html, body {
  font-size: 16px;
}

/* header, nav, div, ul, li, h1, h2, span {
  border: 1px solid blue;
} */

.container {
  max-width: 1050px;
  margin: 0 auto;
  box-sizing: border-box;
}

.tablet,
.mobile {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #616161;
}

h1, h2 {
  margin: 1rem 0;
  line-height: 1.5;
}


h1 {
  color: #474747;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  color: #474747;
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  color: #474747;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
}

p,
footer li {
  font-weight: 400;
  font-size: .8rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

span {
  line-height: 1.5;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}

.logo span {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo strong {
  font-weight: 600;
  color: #424242;
}

header ul.desktop li{
  display: inline;
  padding-left: 1rem
}

header ul.desktop li:last-child{
  padding-right: 1.5rem;
}

@media only screen and (max-width: 775px){
  .desktop {
    display: none;
  }

ul.tablet  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

nav {
    width: 100%;
  }

  ul.tablet li:first-child {
    opacity: 0;
  }
}

@media only screen and (max-width: 500px){
  header .logo {
    display: none;
  }

  ul.tablet li:first-child {
    opacity: 1;
  }
}

/* Jumbos */

.jumbo-left {
  width: 60%;
  margin: 2rem 1.5rem;
  box-sizing: border-box;
}

.jumbo-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 2rem 0;
  box-sizing: border-box;
}

.jumbo-content {
  display: flex;
  box-sizing: border-box;
}

.jumbo-header{
  display: block;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 775px){
  .jumbo-content {
    display: block;
    width: 100%;
  }

  .jumbo-left {
    width: 100%;
    margin: 0;
  }

  .jumbo-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}


/* Jumbo-1 Section */

.jumbo-1 {
  background-color: #E5E5E5;
}

.jumbo-left img {
  max-width: 100%;
  height: auto;
  display: block;
}

.jumbo-1 .jumbo-right {
  justify-content: center;
  padding-right: 1rem;
}

.start {
  color: #FFF;
  background-color: #474747;
  text-align: center;
  width: 15rem;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  transition: all 300ms ease-in-out 100ms;
}

.start:hover,
.start:active {
  background-color: #E56346;
}

@media only screen and (max-width: 775px){
    .jumbo-1 .jumbo-right h1 {
      margin: 2rem 0;
    }

    .jumbo-1 .jumbo-right {
      padding: 1rem;
    }

    .start {
      width: 50%;
      margin: 1.5rem auto 2rem auto;
    }
}

@media only screen and (max-width: 500px){
  .start {
    width: 100%;
  }
}

/* Jumbo-2 Section */


.jumbo-2 .jumbo-right {
  justify-content: flex-start;
  margin-top: 1rem;
}

.author {
  font-size: 0.7rem;
  color: #000;
}

.information {
  display: flex;
  padding: 1rem;
}

.information .image {
  width: 35%;
}

.information-text {
  width: 65%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information img {
  max-width: 100%;
  height: auto;
  display: block;
}

.information:hover {
  background-color: #E5E5E5;
  transition: all 200ms ease-in-out 100ms;
}

.more {
  font-size: 0.8rem;
  color: #3AA6D6;
  transition: all 300ms ease-in-out 100ms;
}

.more:hover,
.more:active {
  color: #E56346;
  padding-left: 1rem;
}

@media only screen and (max-width: 775px){
  .jumbo-2 .information:first-child {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 500px){
  .information .image:first-child {
    display: none;
  }

  .mobile {
    display: block;
  }

  .information {
    display: block;
    padding-bottom: 0;
  }

  .information .image {
    width: 100%;
  }

  .information-text {
    padding: 2rem 1rem;
  }
}

/* Jumbo-3 Section */

.jumbo-3 {
  background-color: #E5E5E5;
  padding: 2rem 2.5rem;
}

.jumbo-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.learning {
  background-color: #FFF;
  margin: 1rem;
  overflow: hidden;
  max-width: 280px;

}

.learning img {
  max-width: 100%;
  height: auto;
}

.learning-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courses {
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 0.5rem;
  transition: all 300ms ease-in-out 100ms;
}


.courses:hover,
.courses:active {
  color: #E56346;
  padding-left: 1rem;
}

.learning-text p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

@media only screen and (max-width: 775px){

  .jumbo-3 {
    background-color: #FFFFFF;
    padding: 2rem 0;
  }

  .jumbo-3 .image,
  .jumbo-3 span,
  .jumbo-3 p {
    display: none;
  }

  .jumbo-center {
    display: block;
  }

  .learning {
    margin: 0.5rem 1rem;
    max-width: 100%;
  }

  .jumbo-header {
    padding-bottom: 1rem;
  }

  .learning-text {
    padding: 0;
  }

  .jumbo-3 h3{
    display: block;
    padding: 1rem 0 1.5rem 1rem;
    background-color: #E5E5E5;
  }
}

/* Jumbo-4 Section */

.jumbo-4 {
  padding: 2rem 0;
}

.jumbo-content .jumbo-left h3 {
  margin-top: 1.5rem;
}

.jumbo-4 .jumbo-right {
  justify-content: flex-start;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 775px){
  .jumbo-4 .jumbo-left h3,
  .jumbo-4 .jumbo-left p
   {
    padding: 1rem;
  }
}

@media only screen and (max-width: 500px){
  .jumbo-4 h3,
  .jumbo-4 p {
    display: none;
  }

  .jumbo-4 .jumbo-right{
    display: none;
  }

  .jumbo-4 {
    padding-bottom: 1.5rem;
  }
}
/* Footer Section */

footer {
  border-top: 1px solid #E5E5E5;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
}

footer p,
footer ul li {
  padding: 1rem;
}

@media only screen and (max-width: 500px){
  footer ul {
    display: none;
  }
}
